body 

h1 {
  color: white;
  background-color:Navy;
  text-align: center;
  font-family: "Sofia", sans-serif;
  
}

p.ex1 {
  text-align: center
}

p.double {
border-style: double;
font-family: "Sofia", sans-serif;
}

p, ul {
  font-family: Times New Roman;
  font-size: 16px;
  color: Navy;
}

a:link, a:visited {
  background-color: #4d4dff;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

a:hover, a:active {
  background-color: navy;
}